/* rwdindex.css */

@media screen and (max-width: 1220px) {
  .row {
    padding: 0 10px;
  }
}

@media screen and (max-width: 940px) {
  #header .menuopen {
    display: block;
    float: right;
    line-height: 85px;
    font-size: 26px;
    color: gray;
  }

  #header .row #nav {
    display: none;
  }
}
